.main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: var(--components-gap-50);
}

.title {
  font: 800 6rem/0.8 var(--font-family-sans);
  letter-spacing: -3px;
}

.subtitle {
  font: 400 italic 4rem/1.5 var(--font-family-sans);
  letter-spacing: -3px;
}

.subtitleDev {
  text-decoration: wavy underline;
  text-underline-offset: 0.5rem;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.225rem;
  text-decoration-color: var(--medium-turquoise);
}

.subtitleDsg {
  text-decoration: wavy underline;
  text-underline-offset: 0.5rem;
  text-decoration-skip-ink: none;
  text-decoration-thickness: 0.225rem;
  text-decoration-color: var(--begonia);
}
