.header {
  border: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  margin-bottom: var(--components-gap-100);
  align-items: center;
  border-radius: 10vh;
  color: var(--black);
}

.headerLogo {
  margin-left: 2rem;
}

.headerNav {
  display: flex;
  gap: var(--components-gap-50);
  text-transform: uppercase;
}

.headerNavLink:hover {
  text-decoration: line-through;
}

.headerOptionsButton {
  border: 1px solid var(--black);
  margin-right: 0.125rem;
  border-radius: 5vh;
  padding: 0.25rem;
}
