.section {
  width: 100%;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--components-gap-50);
  color: var(--white);
}

.title {
  font: 800 6rem/0.8 var(--font-family-sans);
  letter-spacing: -3px;
}

.subtitle {
  font: 400 italic 4rem var(--font-family-sans);
  letter-spacing: -3px;
}
