---
import Layout from '../layouts/Layout.astro';

const getTime = () =>
  new Intl.DateTimeFormat("en-US", {
    hour: "numeric",
    minute: "numeric",
    timeZone: "America/Sao_Paulo",
    timeZoneName: "short",
  }).format(new Date());

  const getYear = () =>
  new Intl.DateTimeFormat("en-US", {year: "numeric"}).format(new Date());

---

<Layout title="RCRD - Ricardo Gouveia - Creative Developer Based in São Paulo, Brazil">
  <section class="text-white uppercase bg-[#3A3A3A] p-4 w-screen max-w-full h-[66vh] flex flex-col">

    <div class="flex flex-col w-full h-full justify-between">
      <div class="w-full flex justify-between font-mono	font-medium">
        <img src="./logo.svg" alt="" width="50">
        <span>UI designer</span>
        <span>São Paulo</span>
        <span>{getTime}</span>
        <button class="flex font-mono uppercase font-bold hover:bg-white hover:text-[#3A3A3A] px-4 pr-0">Menu</button>
      </div>

      <div class="font-medium text-7xl leading-normal	">
        <p>creative developer</p>
        <p>based in São Paulo</p>
      </div>

      <div class="w-full flex justify-between font-mono	font-medium">
        <span>Ricardo Gouveia</span>
        <span>Front-end Developer</span>
        <span>Brazil</span>
        <span>Scroll to view more</span>
        <span>{getYear}</span>
      </div>
    </div>


  </section>
</Layout>
