/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */

:root {
  --bright-gray: #efeff0;
  --quartz: #4a4a4a;
  --white: #ffffff;
  --black: #000000;
  --begonia: #fd7272;
  --medium-turquoise: #4ecdc4;
  --font-family-sans: "Inter", Helvetica, Arial, sans-serif;
  --components-gap-100: 3rem;
  --components-gap-50: 1.5rem;
  --components-gap-25: 0.75rem;
}

body {
  color: var(--quartz);
  background-color: var(--bright-gray);
  font-family: "Inter", Helvetica, Arial, sans-serif;
  overflow: hidden;
  width: 100dvw;
  height: 100dvh;
  padding: var(--components-gap-100);
  padding-bottom: var(--components-gap-50);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

section {
  color: var(---white);
  background: repeat center/50% padding-box url("/static.png") var(--quartz);
}
